node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/dist

# Nuitka Build Output
*.dist/
*.build/
*.exe
*.onefile-build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.venv

# pnpm
pnpm-lock.yaml

#python
poetry.lock
pycparser-*.whl
__pycache__

poetry.lock